<header>
  <a routerLink="/" class="logo">Your Logo</a>

  <nav>
    <a routerLinkActive="active" routerLink="/">Home</a>
    <a routerLinkActive="active" routerLink="/events">Events</a>
    <a routerLinkActive="active" routerLink="/special">Special Events</a>
  </nav>

  <div class="user-section">
    <a
      routerLinkActive="active"
      *ngIf="!tokenService.loggedIn()"
      routerLink="/login"
      class="login"
      >Login</a
    >
    <a
      routerLinkActive="active"
      *ngIf="!tokenService.loggedIn()"
      routerLink="/register"
      class="register"
      >Register</a
    >

    <a
      *ngIf="tokenService.loggedIn()"
      style="cursor: pointer"
      (click)="tokenService.logOut()"
      >logOut</a
    >
  </div>
</header>
<router-outlet></router-outlet>
